// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

.btn{
    background-color: #3d7def;
    //#bd2122
    color:#fff;
    cursor: pointer;
}

.shareDialogOpen{
    opacity: 0.2;
}


.lineBasic {
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
 }

 .content {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 3;
    margin-top: 16;
}

.liked-active {
    color: #4080FF;
}

.heart-active {
    color: #b51213;
}

.default {
    color: #828282;
}

.navTab {
	background-color: #3d7def;
	height: 45;
}

.tabview{
	text-align: center;
}
.tabview.active {
	border-bottom-color: white;
	border-bottom-width: 3;
	margin: 0;
	height: 45;
}
.tabviewText {
	margin-top: 10;
	margin-bottom: 5;
	font-size: 15;
	margin-left:30;
	color: #d8d2d2;
}
.tabviewText.active {
	margin-top: 10;
	margin-bottom: 5;
	font-weight: bold;
	color: white;
	vertical-align: center;
}

.input {
    margin: 10;
}

.input-border{
	border-width:0.5;
	border-color:#888888;
}

.card-img-thumb {
	background-color: #828282;
	vertical-align: center;
	border-radius: 5;
	width: 130;
	height: 70;
	margin-left: 5;
}

.no-data{
	font-size: 14;
	font-weight: bold;
	color: #828282;
}